<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid mx-auto order-0">
        <a class="navbar-brand text-center mx-auto" style="font-family: 'Luckiest Guy', cursive; font-size:2em;" href="/">URL Shortner</a>
      </div>
  </nav>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&display=swap');
</style>
